<% content_for :page_title, "筋肉やリンパに作用し活性酸素や迷走電流、電磁波を排出します" %>
<% content_for :meta_description, "CS60那覇リボーンでは、通常のマッサージとは異なり、皮膚や筋肉、内臓、骨、神経、リンパに作用し、酸化した老廃物質(活性酸素)や迷走電流、電磁波を排出し、筋肉疾患や肩こり腰痛を取り除く施術を沖縄県那覇市で提供させていただいております" %>

<!-- Header -->
<header class="masthead d-flex bg-primary">
  <div class="container text-center my-auto">
    <h1 class="mb-1 text-light">CS60那覇</h1>
    <h2 class="mb-5 text-faded">
      <em>reborn（リボーン）</em>
    </h2>
    <h3 class="mb-5 text-light">
      <em>身体から老廃物質や迷走電流を抜き取り、リンパを整え気になる痛みや疲れから開放します</em>
    </h3>
    <a class="btn btn-light btn-xl js-scroll-trigger" href="#about">CS60とは</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">ヴェールに包まれた謎の器具</h3>
      <h2 class="mb-5">9秒でわかるCS60</h2>
    </div>
    <div class="row no-gutters mb-5">
      <div class="col-lg-6">
        <div class="about-item">
          <div class="caption">
            <div class="caption-content"> <div class="h4">全体的に丸い形です</div>
              <p class="mb-0 text-right">手のひらに収まる手ごろな大きさです</p>
            </div>
          </div>
          <%= image_tag "cs-1.jpg", class:"img-fluid", alt:"CS60の前面" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h4">先端でひたすら擦ります</div>
              <p class="mb-0 text-right">痛かったり痛くなかったりします</p>
            </div>
          </div>
          <%= image_tag "cs-2.jpg", class:"img-fluid", alt:"CS60の施術時の姿勢" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h4">尻尾があります</div>
              <p class="mb-0 text-right">ここから体内の電流を放出しています</p>
            </div>
          </div>
          <%= image_tag "cs-3.jpg", class:"img-fluid", alt:"CS60の全体図" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h4">裏側も使います</div>
              <p class="mb-0 text-right">撫でられると気持ちよいです</p>
            </div>
          </div>
          <%= image_tag "cs-4.jpg", class:"img-fluid", alt:"CS60の背面" %>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#reputations">その効果のほどは</a>
      </div>
    </div>
  </div>
</section>

<!-- Reputations -->
<section class="content-section bg-light" id="reputations">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="mb-0">多方面からご好評をいただいております</h3>
      <h2 class="mb-5">各界著名人もその効果を実感</h2>
    </div>

    <div class="row mb-5">
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-mustache"></i>
        </span>
        <h4>
          <strong>東大医学博士推薦</strong>
        </h4>
        <p class="lead mt-4 mb-4 text-left">
          「もうだめだ……」と、あきらめている人が世界にはあふれている。
          「あきらめなくてもいいんだよ」と、いうことを伝えるために1人のヒーラーが日本から世界へと旅立った。
          そして世界のあちこちに癒すことの喜び、癒されることの喜びが満ちあふれたCS60とは何か？
          定義から始めてはだめだ。
          無垢なきもちで受け入れた人たちがおどりだし、とびはね、わらいだした……
          うたがいようのない事実そこから定義は始まる。
          CS60は今もなお進化している。
          よりよい明日のために。
        </p>
        <p class="text-right">
          「<%= link_to "BETTER TOMORROW", "https://amzn.to/3cmmiGu", target: :_blank, rel: "noopener noreferrer"%>」 高城剛著<br>
          東京大学教授 医学博士 <%= link_to "神馬征峰", "http://www.ich.m.u-tokyo.ac.jp/jimba.html", target: :_blank, rel: "noopener noreferrer" %>氏推薦文より
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-user"></i>
        </span>
        <h4>
          <strong>メルマガやYouTubeでも話題</strong>
        </h4>
        <p class="lead mt-4 mb-4 text-left">
          僕も移動が多いことから腰痛持ちで、旅先で自分が施術できるあらゆる機器を試しまくって一番効果があったのが「<%= link_to "CS60パーソナルモデル", "https://bit.ly/37RAlRM", target: :_blank, rel: "noopener noreferrer" %>」です。いまや、筋トレ中も手放せなくなりました。機内でもずっと使っています。
        </p>
        <p class="mb-4 text-right">
          <%= link_to "高城未来研究所", "https://www.mag2.com/m/0001299071.html", target: :_blank, rel: "noopener noreferrer" %> Vol.451 Q&Aより
        </p>
        <p class="lead mb-4 text-left">
          CS60はもう間も無く、全世界的に大ブレイクします。厚生労働省も知ってるんですよ。東京大学医学部もみんな知ってるんですよ。でも誰も言わない（ 神馬氏除く）。なぜか。
        </p>
        <p class="text-right">
          <%= link_to "原田武夫国際戦略情報研究所", "https://www.youtube.com/watch?v=c2sKVt4URvw", target: :_blank, rel: "noopener noreferrer" %><br>
          原田武夫の道中辻斬り Vol. 64 7:30頃より
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-bubbles"></i>
        </span>
        <h4>
          <strong>著名人も効果を実感</strong>
        </h4>
        <p class="lead mt-4 mb-4 text-left">
          西村先生は、最初アトピーの人のために、その病理を考えて化粧水を作ったそうです。
          そこからCS60を開発していくプロセスが、私にとっては納得感があったんです。
          原発事故が起きた直後から、手がひどいアトピーになってしまったんです。
          皮膚がむけて、どんなことをしても治りません。
          そこにCS60を当てると、墨みたいなものが浮き出てきたんです。
          洗い流すと消えるんですよ。
          1年くらい続けるとアトピーがすっかり良くなったので、本当にビックリしました。
          それがいちばん効果を実感した出来事です。
        </p>
        <p class="text-right">
          <%= link_to "吉本ばななさんインタビュー 前編", "https://www.cs60.com/newsletter-vol-31/", target: :_blank, rel: "noopener noreferrer" %>
          <%= link_to "中編", "https://www.cs60.com/newsletter-vol-32/", target: :_blank, rel: "noopener noreferrer" %>
          <%= link_to "後編", "https://www.cs60.com/newsletter-vol-33/", target: :_blank, rel: "noopener noreferrer" %>より
        </p>
      </div>
    </div>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">施術内容はこちら</a>
  </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-faded mb-0">CS60の施術を基本に他にも選択肢をご用意しております</h3>
      <h2 class="mb-5">施術内容</h2>
    </div>
    <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-hourglass"></i>
        </span>
        <h4>
          <strong>CS60全身施術60分</strong>
        </h4>
        <p class="text-faded mb-1">まずはお試し、2回目以降の方に</p>
        <p class="h5">￥6,000</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-plus"></i>
        </span>
        <h4>
          <strong>CS60全身施術90分</strong>
        </h4>
        <p class="text-faded mb-1">初回の方、心身に自覚症状や不調がある方に</p>
        <p class="h5">￥9,000</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-book-open"></i>
        </span>
        <h4>
          <strong>オラクルカード<br>リーディング30分</strong>
        </h4>
        <p class="text-faded mb-1">一番気になる事柄を中心にしたリーディング</p>
        <p class="h5">￥3,000</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-eye"></i>
        </span>
        <h4>
          <strong>オラクルカード<br>リーディング60分</strong>
        </h4>
        <p class="text-faded mb-1">全体の運気の流れ、気になる事柄についてのリーディングと具体的な対処法など</p>
        <p class="h5">￥6,000</p>
      </div>
      <div class="col-lg-12 mt-4 mx-auto text-center">
        <h4 class="mb-4">＊ 価格改定のお知らせ ＊</h5>
      </div>
      <div class="col-lg-8 mb-4 mx-auto text-left">
        <p class="text-left">
          昨今の諸所の物価高を受け、令和5年1月より施術内容と価格を改訂させて頂きます。改定後は全身施術内容90分（10,0000円）のみとなります。ご理解の程、よろしくお願い申し上げます。
        </p>
      </div>
    </div>

    <%#=
    <div class="row mb-5 text-center">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">ご予約・お問合せはこちらから</a>
      </div>
    </div>
         %>

    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <h3 class="mb-4">オラクルカード・リーディングとは</h3>
        <p class="text-left">オラクルとは「神託」という意味です。天使や女神の美しい絵が描かれたカードを使い、今のあなたに必要なメッセージをお伝えします。カードリーダーは通訳のように、女神や天使があなたに届けたいメッセージを分かりやすくお伝えします。</p>
        <p class="text-right">オラクルカード・メッセンジャー　YUMI</p>
        <p class="text-faded mb-4 text-left"><i>リーディング歴は<%= Date.today.year - 2008 %>年。趣味で独学で始めたところ、口コミでリーディング希望者が集まるようになり有料セッションを開始。迷っている人に本来の状態を思い出してもらい、そっと背中を後押しするようなセッションを行っています。</i></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#reactions">お客様の声をご紹介します</a>
      </div>
    </div>
  </div>
</section>

<!-- Reactions -->
<section class="content-section bg-light" id="reactions">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">たくさんのお声をいただいております</h3>
      <h2 class="mb-5">体験談</h2>
    </div>
    <div class="row no-gutters mb-5">
      <div class="col-lg-6">
        <div class="portfolio-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h3">夫婦でCS60を体験</div>
              <p class="mb-2">主人は肩の痛みがとれて腕が上がるのが嬉しかったようです。私も身体的にはもちろん、精神面でも効果がありました。またすぐに受けたくなるくらい気に入りました。</p>
              <p class="mb-0 text-right">宮崎県　Nさん</p>
            </div>
          </div>
          <%= image_tag "portfolio-1.jpg", class:"img-fluid", alt:"宮崎県Nさんのご意見" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="portfolio-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h3">翌日の目覚めが</div>
              <p class="mb-2">普段は寝覚が悪いのですが、CSを受けた翌日はいつもと違い目覚めスッキリ。見慣れたはずの風景が美しく感じました。体に温かく残る揉み返しが心地よいです。</p>
              <p class="mb-0 text-right">宮崎県　Kさん</p>
            </div>
          </div>
          <%= image_tag "portfolio-2.jpg", class:"img-fluid", alt:"宮崎県Kさんのご意見" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="portfolio-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h3">細胞が立った</div>
              <p class="mb-2">始まった途端に全身に鳥肌が立ち、撫でられた場所が涼しくなりました。でも体の中は温かい。細胞一つ一つの目が覚めたという感じです。まるで瞑想している気分になりました。</p>
              <p class="mb-0 text-right">沖縄県　Kさん</p>
            </div>
          </div>
          <%= image_tag "portfolio-3.jpg", class:"img-fluid", alt:"沖縄県Kさんのご意見" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="portfolio-item">
          <div class="caption">
            <div class="caption-content">
              <div class="h3">むち打ちが消えた</div>
              <p class="mb-2">整形外科に通っても治らなかった交通事故のむち打ちが、たまたま受けた一度の施術で劇的に改善。この素晴らしさをもっと広めたい、そんな想いで当サロンを開設するに至りました。</p>
              <p class="mb-0 text-right">沖縄県 当サロン広報担当</p>
            </div>
          </div>
          <%= image_tag "portfolio-4.jpg", class:"img-fluid", alt:"CS60那覇リボーン広報担当の意見" %>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#staff">そんなCS60を操るのは</a>
      </div>
    </div>
  </div>
</section>

<!-- Staff -->
<section class="content-section bg-primary text-light" id="staff">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-faded mb-0">経験豊富な施術者が担当いたします</h3>
      <h2 class="mb-1">CS60 Masseuse</h2>
      <h6 class="mb-4">＊masseuse ( mæsə́ːz [名] 女性のマッサージ師 )</h6>
    </div>
    <div class="row no-gutters mb-5">
      <div class="col-lg-4 ml-auto mr-auto">
        <a class="portfolio-item" href="http://blog.cs60.okinawa/tag/akimoto/">
          <%= image_tag "akimoto.jpg", class:"img-fluid", alt:"CS60認定施術者 オラクルカード リーダー 秋本" %>
        </a>
        <div class="col-lg-12 text-center">
          <p class="h5 mb-2">秋本</p>
          <p class="mb-0">
            CS60 認定施術者<br>
            オラクルカード リーダー<br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content-section-heading text-center">
      <h4 class="mb-5">最近の投稿</h4>
    </div>

    <div class="row mb-5">
      <% @articles.each do |article| %>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h4>
            <strong><%= link_to article["title"]["rendered"], article["link"], class: "text-white", target: :_blank, rel: "noopener noreferrer" %></strong>
          </h4>
          <%=  link_to Nokogiri::HTML.parse(article["content"]["rendered"], nil, 'utf-8').at_css("body").text.gsub(/(\r\n|\r|\n|\f|\t)/, "")[0,100]+"...", article["link"], class: "text-white", target: :_blank, rel: "noopener noreferrer" %>
          <p class="lead mt-4 mb-4 text-right">
            <%= link_to Time.parse(article["date"]).strftime("%Y年%m月%d日"), article["link"], class: "text-white", target: :_blank, rel: "noopener noreferrer" %>
          </p>
        </div>
      <% end %>
    </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#callout">お店はこちらです</a>
      </div>
    </div>
  </div>
</section>

<!-- Callout -->
<section class="callout bg-light" id="callout">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">店舗情報</h2>
    <div class="col-md-12">
      <h3>CS60那覇 reborn<br>（リボーン）</h3>
      <p><i class="icon-direction"></i> <a class="js-scroll-trigger" href="#map">沖縄県那覇市上之屋1-17-22-201</a></p>
      <p><i class="icon-phone"></i> <a href="tel:+81-80-7313-5145">080-7313-5145</a></p>
      <p><i class="icon-envelope"></i> <a href="mailto:reborn@cs60.okinawa">reborn@cs60.okinawa</a></p>
      <p><i class="icon-clock"></i>営業時間 10:00am-8:00pm（月曜定休日）</p>
      <p>駐車場有り（ご予約時に詳細をお伝え致します） </p>
      <p>各種クレジットカード、PAY PAYご利用頂けます</p>
      <p>サロンまでお越しいただくのが難しい場合は、出張施術もご相談ください</p>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-lg-10 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">ご予約・お問合せはこちらから</a>
      </div>
    </div>
  </div>
</section>

<!-- Map -->
<section class="map" id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.981283461177!2d127.68637865052605!3d26.22979768334521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56b512386a8f9%3A0xb422fe22fa5e04e3!2zQ1M2MCDmspbnuIQg44Oq44Oc44O844Oz!5e0!3m2!1sen!2sjp!4v1582004347430!5m2!1sen!2sjp"></iframe>
</section>

<!-- Call to Action -->
<section class="content-section bg-primary text-white" id="contact">
  <div class="container text-center">
    <div class="content-section-heading text-center">
      <h3 class="text-faded mb-0">電話に出られない場合はこちらから折り返しご連絡させていただきます</h3>
      <h2 class="mb-5">ご予約・お問合せ</h2>
    </div>
    <a href="https://select-type.com/rsv/?id=e1nYCgCjrH8&c_id=78713" class="btn btn-xl btn-light mb-4 ml-2 mr-2"><i class="icon-event"></i> オンライン予約</a>
    <a href="tel:+81-80-7313-5145" class="btn btn-xl btn-light mb-4 ml-2 mr-2"><i class="icon-phone"></i> 電話予約・お問合せ</a>
    <a href="mailto:reborn@cs60.okinawa" class="btn btn-xl btn-light mb-4 ml-2 mr-2"><i class="icon-envelope"></i> メール予約・お問合せ</a>
  </div>
</section>
