<!DOCTYPE html>
<html>
  <head>
    <title>CS60那覇 リボーン | <%= yield(:page_title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17879447-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-17879447-19');
    </script>
  </head>

  <body>
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">CS60那覇 リボーン</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">CS60とは</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#reputations">CS60の世評</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">施術内容</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#reactions">体験談</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#staff">施術者</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#callout">店舗情報</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#map">地図</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">ご予約・お問合せ</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="http://cs60.okinawa/blog">スタッフブログ</a>
        </li>
      </ul>
    </nav>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer bg-light text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="http://cs60.okinawa/blog/">
              <i class="icon-feed"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/cs60reborn/">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; CS60那覇 リボーン <%= Date.today.year %></p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
